projet/devoo/src/main/resources/livraison.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JourneeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Entrepot">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="adresse"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="PlagesHoraires">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Plage" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Livraisons">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Livraison" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="id" use="required"/>
                                  <xs:attribute type="xs:short" name="client" use="required"/>
                                  <xs:attribute type="xs:short" name="adresse" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="heureDebut" use="required"/>
                  <xs:attribute type="xs:string" name="heureFin" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>